<div class="container">
  <div>
    <h2 >Registrate</h2>
  </div>

  <div>
      <div>
        <label for="nombre">Nombre</label>
        <div class="mt-2">
          <input id="nombre" name="first_name" type="text">
        </div>
      </div>

      <div>
        <div>
          <label for="apellido">Apellido</label>
        </div>
        <div class="mt-2">
          <input id="apellido" name="last_name" type="text">
        </div>
      </div>

      <div>
        <label for="edad">Edad</label>
        <div class="mt-2">
          <input id="edad" name="age" type="text">
        </div>
      </div>

      <div>
        <label for="email">Email</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email">
        </div>
      </div>

      <div>
        <label for="rol">Rol</label>
        <div class="mt-2">
          <input id="rol" name="rol">
        </div>
      </div>

      <div>
        <label for="password">Password</label>
        <div class="mt-2">
          <input id="contrasenia" name="password" type="password">
        </div>
      </div>

      <div class="my-4">
        <button id="sendRegister">Enviar</button>
      </div>
  </div>
</div>
<script src="../js/register.js"></script>